.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  /* border: 1px dotted black; */
  border-radius: 8px;
  background: linear-gradient(#FFFFFF, rgba(150,7,255,0.4)); /* Standard syntax */
}
#clear {
  clear: left;
  height: 1px;
  margin-top: -1px;
 }
#form_submit {
  margin-top: 40px;
  margin-left: auto;
  margin-bottom: 60px;
  margin-right: auto;

  width: 90%;
  height: 30%;
  background-color: #9607FF;
  background: linear-gradient(rgba(135,109,251,0.6), rgba(106,86,197,0.1)); /* Standard syntax */
  border-radius: 5px; 
} 
.chulada_btn {
  float: left;
  margin: 5px 3px;
  border-radius: 5px;
  border: 1px solid #9670FF;
  text-decoration: none;
  text-align: center;
  /* background: linear-gradient(rgba(150,7,255,0.2), rgba(255,255,255,0.3), rgba(255,255,255,1)); */
  color: #330099;
  background: transparent;
  /* rosita #FF70FF */
  /* lilita #9670FF */
  /* verde claritoup  #50FF90*/
  /* background: linear-gradient(#FFFFFF, rgba(150,112,255,0.4)); */
}
#div_hide {
  display: none; /* para que permanezca oculto hasta usarlo */
}

#show, #hide {
  cursor: pointer;
}

.fieldset_legend{
  color: #330099;
  font-family: "Lucida Console";
  font-style: italic;
  background: transparent;
  background: linear-gradient( transparent, rgba(225,225,225,0.2));
}